<h1>About Us</h1>
<p>Just a college student needing a ride share because my school doesn't offer it. Hope this helps you get 
to places like Walmart, Des Moines, your home on vacations and more! Thanks for visiting!</p>
