<h1>Contact Us</h1>
<p>I usually don't like being bothered but if you really need my help for something you can email me at charette@grinnell.edu. But please don't contact me unless you REALLY need me not if you just kinda need me. There is a difference!</p>
