			<div class="section">
				<div class="header">
					<p class="subtitle">User Profile 

					
				</div>
	
						<table class="table table-striped">
							<tr>
								<th>Name:</th>
								<td></td>
							</tr>
							<tr>
								<th >College (Year):</th>
								<td >Grinnell College ()</td>
							</tr>
							<tr>
								<th style="width:150px;">Cell:</th>
								<td class="info"></td>
							</tr>
							<tr>
								<th style="width: 150px;">About Me:</th>
								<td class="info"></td>
							</tr>							
							<tr>
								<th style="width:150px;">Music:</th>
								<td class="info"></td>
							</tr>
							<tr>
								<th style="width: 150px;">Interests:</th>
								<td class="info"></td>
							</tr>					
							<tr class="cap ctrls">
								<td colspan="2" align="right">
								
									
								
								</td>
							</tr>
						</table>
					</div>