

    @media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
    display: block;
    }
     
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    }
     
    #no-more-tables tr { border: 1px solid #ccc; }
     
    #no-more-tables td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
    }
     
    #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    }
     
    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
    }


@import "bootstrap";


/* header */

body 

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

html {
  overflow-y: scroll;
}
p.heading {
  font-style:normal;
  font-size: 200%;

}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a:link { 
  color: #333333;
}
a:visited { 
  color: #FFFFFF;
}
a:hover { 
  color: #CCCCCC;
}
a:active { 
  color: #333333;
}
.btn-custom { background-color: hsl(41, 100%, 55%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd989", endColorstr="#ffb619"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd989), to(#ffb619)); background-image: -moz-linear-gradient(top, #ffd989, #ffb619); background-image: -ms-linear-gradient(top, #ffd989, #ffb619); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd989), color-stop(100%, #ffb619)); background-image: -webkit-linear-gradient(top, #ffd989, #ffb619); background-image: -o-linear-gradient(top, #ffd989, #ffb619); background-image: linear-gradient(#ffd989, #ffb619); border-color: #ffb619 #ffb619 hsl(41, 100%, 49.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36); -webkit-font-smoothing: antialiased; }