
      <footer class="footer">
  <small>
   KevPool by Kevin Charette
  </small>
  <nav>
    <ul>
 <%= link_to 'Legal', static_pages_legal_path %>
       <%= link_to 'Privacy Policy', static_pages_help_path %>
    </ul>
  </nav>
</footer>
    